body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div#left {
    flex-basis: 37%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image: url(bald_eagle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75%;
}

div.transparent-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

div.transparent-area#logo {
    position: relative;
    top: 30vh;
    height: 15vh;

    font-size: 11vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.transparent-area#logo > img {
    height: 90%;    
}

p#credits {
    color: white;
    font-size: 0.8em;
}

p#credits > a:visited {
    color: white;
}

p#credits > a:active {
    color: wheat;
}

div#right {
    background-color: #f2f2f2;
    flex: 2;
}

div#right > div:first-child {
    padding-top: 10%;
}

div#right > div {
    padding-left: 50px;
    padding-right: 30%;
}

h1 {
    font-size: 1em;
    margin: 0;
    width: 100%;
}

form > section {
    padding: 25px 50px;
}

section#fillable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 40px;
    padding-right: 30%;

    background-color: white;
    box-shadow: 5px 5px 5px gainsboro;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

div#sign-in {
    font-size: 16px;
}