body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

div#left {
    flex-basis: 37%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image: url(bald_eagle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75%;
}

p#credits {
    color: white;
}

p#credits > a:visited {
    color: white;
}

div#right {
    flex: 2;
}