body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

div#left {
    flex-basis: 37%;
    background-image: url(bald_eagle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75%;
}

div#right {
    flex: 2;
}