body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

div#left {
    flex-basis: 37%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image: url(bald_eagle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75%;
}

div.transparent-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

p#credits {
    color: white;
    font-size: 0.8em;
}

p#credits > a:visited {
    color: white;
}

p#credits > a:active {
    color: wheat;
}

div#right {
    flex: 2;
}